*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
}

.head-content{
    width: 100%;
    height: 40px;
    background-color:black ;
}

.head-content p{
    font-size: 14px;
    font-weight: 400;
    color: white;
    text-align: center;
    padding-top: 9px;
}

.navbar{
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    margin: 40px auto 16px;
    align-items: center;
}

.logo{
    font-size: 24px;
    font-weight: bold;
}

.menu{
    max-width: 570px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

.menu a{
    text-decoration: none;
    font-size: 15px;
    font-weight: 400;
    color: black;
    padding-right: 48px;
}

.menu a:hover {
    text-decoration: underline;
    color: black;
}

.search{
    width: 240px;
    height: 38px;
    border-radius: 4px;
    background: var(--Secondary, #F5F5F5);
    border: none;
    padding-left: 20px;
    font-size: 12px;
    font-weight: 500;
}

.fa-magnifying-glass{
    position: relative;
    right: 35px;
}

.iconca{
    max-width: 110px;
    display: flex;
    column-gap: 20px;
    font-size: 20px;
    align-items: center;
}

.fa-user{
    border-radius: 50%;
    padding: 8px;
}

.fa-user:active, .fa-user:hover{
    background-color: #DB4444;
    color: white;
}

main{
    max-width: 1200px;
    margin: 0 auto;
}

.about-page{
    max-width: 200px;
    display: flex;
    justify-content: space-between;
    margin: 80px 0 42px;
}

.about-page a{
    font-size: 14px;
    font-weight: 400;
    color: #000;
    text-decoration: none;
}

.about-page a:hover{
    opacity: 0.5;
}

.our-story{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.our-story-text h2{
    font-size: 54px;
    font-weight: 600;
}

.our-story-p1, .our-story-p2{
    width: 400px;
    font-size: 16px;
    font-weight: 400;
}

.our-story-p1{
    margin: 40px 0 20px;
}

.about-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 140px 0;
}

.content{
    width: 270px;
    height: 230px;
    border-radius: 4px;
    border-radius: 4px;
    border: 1px solid rgba(0, 0, 0, 0.30);
    padding: 30px 10px;
    text-align: center;
}

.content h2{
    font-size: 32px;
    font-weight: 700;
    margin: 15px 0 5px;
}

.content p{
    font-size: 16px;
    font-weight: 400;
}
.content:hover{
    background-color: #DB4444;
    color: white;
    transition: 0.2s;
}

.about-stuffs{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.iconca2{
    display: flex;
    column-gap: 16px;
    margin-top: 16px;
    font-size: 18px;
}

.about-end{
    display: flex;
    justify-content: space-between;
    text-align: center;
    margin-top: 190px;
}

.end h3{
    margin-top: 20px;
}
footer{
    width: 100%;
    height: 440px;
    background-color: #000;
    margin-top: 140px;
}

.footer{
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    padding-top: 80px;
}

.footer-item{
    color: #F5F5F5;
}

.logo-footer{
    font-size: 24px;
    margin-bottom: 24px;
}

.footer-p{
    font-size: 20px;
    font-weight: 500;
}

.footer-p2{
    font-size: 16px;
    font-weight: 400;
    margin: 24px 0;
    width: 200px;
}

.form{
    position: absolute;
}

.form input{
    width: 217px;
    height: 48px;
    border-radius: 4px;
    border: 1.5px solid #fafafa;
    font-size: 16px;
    background: none;
    padding-left: 18px;
    color: #F5F5F5;
}

.form img{
    position: absolute;
    z-index: 1;
    left: 170px;
    top:12px;
}

.footer-ul{
    display: block;
    list-style: none;
}

.footer-ul a{
    color: #F5F5F5;
    font-size: 16px;
    text-decoration: none;
    display: block;
    padding-top: 24px;
}

.footer-item i{
    font-size: 24px;
    margin: 24px 24px 0 0;
}

footer hr{
    width: 100%;
    opacity: 0.5;
    color: #F5F5F5;
    margin-top: 40px;
}

.company{
    color:#F5F5F5 ;
    opacity: 0.5;
    font-size: 16px;
    text-align: center;
    margin-top: 12px;
}